.education{
    width: 100vw;
    padding: 50px;
    text-align: center;
}

.educard{
    border: 1px ;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    padding: 30px;
    width: 400px;
    margin: 10px;
    margin-top: 35px;
    height: 280px;
    margin-top: 35px;
    background: #89ce0042;
    display: inline-block;
    overflow: hidden;
    text-align: flex;
}

.eduTitle{
    text-align: left;
    font-size: x-large;
    padding-left: 10px;

}

.edusubtitle{
    text-align: left;
    font-size: large;
    padding: 5px;
    padding-left: 10px;
}

.eduList{
    text-align: left;
    padding: 5px;
}

.sfu{
    
    width: 30%;
    clip-path: inset(30% 7% 21% 10%);
    display: flex;
    
}